body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 245, 237);
    height: 100vh;
}


.calculator{
    background-color: rgb(23, 24, 35);
    padding: 10px;
    border-radius: 10px;
    /* font-size: 30px; */
      width: 300px;

}
#display{
    height: 50px;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: right;
    font-size: 2.5rem;
    margin-bottom:10px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    background-color: black;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 5px;
    border-radius: 50%;
    cursor: pointer;

}



 

